.ds-message-date-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ds-message-date-divider__label {
  font-family: var(--core-typography-font-family-secondary), 'Surt', sans-serif;
  font-size: calc(var(--core-typography-font-size-12) * 1px);
  line-height: calc(var(--core-typography-line-height-16) * 1px);
  color: var(--semantic-color-text-secondary);
  text-align: center;
}
